<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kopo.poly.mapper.IStudentMapper">

    <insert id="insertStudent" parameterType="StudentDTO">
        INSERT INTO STUDENT
            (USER_ID, USER_NAME, EMAIL, ADDR)
        VALUES (#{userId}, #{userName}, #{email}, #{addr})
    </insert>

    <select id="getStudentList" resultType="StudentDTO">
        SELECT USER_ID, USER_NAME, EMAIL, ADDR
        FROM STUDENT
        ORDER BY USER_NAME DESC
    </select>

    <select id="getStudent" parameterType="StudentDTO" resultType="StudentDTO">
        SELECT USER_ID, USER_NAME, EMAIL, ADDR
        FROM STUDENT
        WHERE USER_ID = #{userId}
        </select>

<update id="updateStudent" parameterType="StudentDTO">
UPDATE STUDENT
SET USER_NAME = #{userName},
    EMAIL     = #{email},
    ADDR      = #{addr}
WHERE USER_ID   = #{userId}
</update>
    <delete id="deleteStudent" parameterType="StudentDTO">
        DELETE
        FROM STUDENT
        WHERE USER_ID = #{userId}
    </delete>
</mapper>